<div class="iCMS_up_down">
  <a id="up_article" class="up_down_btn" href="javascript:;">
    <i id="up_icon" class="up_down_icon up"></i>
    <span class="up_down_btn_num" id="up_btn_num"><!--{$article.good}--></span>
    <span class="up_down_txt" id="up_txt">赞</span>
  </a>
  <a id="down_article" class="up_down_btn" href="javascript:;">
    <i id="down_icon" class="up_down_icon down"></i>
    <span class="up_down_btn_num" id="down_btn_num"><!--{$article.bad}--></span>
    <span class="up_down_txt" id="down_txt">踩</span>
  </a>
</div>
