<script id="comment_box" type="text/html">
<div class="zm-comment-box">
  <i class="iCMS-icon iCMS-icon-spike zm-comment-bubble" style="display: inline; left: 481px;"></i>
  <div class="zm-comment-list"></div>
  <div class="zm-comment-form zm-comment-box-ft">
    <div class="zm-comment-ipt">
      <input class="zm-comment-textarea" type="text" value="">
    </div>
    <div class="zm-command clearfix">
      <a href="#" id="addnew" class="btn btn-primary">评论</a>
      <a href="###" id="closeform" class="zm-command-cancel">取消</a>
    </div>
  </div>
</div>
</script>