<script id="comment_box" type="text/html">
  <div class="commentApp-box">
    <i class="iCMS-icon iCMS-icon-spike commentApp-bubble" style="display: inline; left: 481px;"></i>
    <div class="commentApp-list"></div>
    <div class="commentApp-form commentApp-box-ft">
      <div class="commentApp-ipt">
        <input class="commentApp-textarea" type="text" value="">
      </div>
      <div class="app-command clearfix">
        <a href="#" id="addnew" class="btn btn-primary">评论</a>
        <a href="###" id="closeform" class="app-command-cancel">取消</a>
      </div>
    </div>
  </div>
</script>