<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="iDreamSoft Inc." name="Copyright" />
<link href="<!--{$iCMS.UI}-->/bootstrap/2.3.2/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="<!--{$iCMS.UI}-->/bootstrap/2.3.2/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
<link href="<!--{$iCMS.UI}-->/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="<!--{$iCMS.UI}-->/artDialog/6.0.3/ui-dialog.css" type="text/css" rel="stylesheet"/>
<link href="<!--{$iCMS.UI}-->/iCMS-6.0.0.css" type="text/css" rel="stylesheet"/>
<link href="<!--{$site.urls.ui}-->/iCMS-6.0.0.css" type="text/css" rel="stylesheet"/>

<!--[if lt IE 9]>
<script src="<!--{$iCMS.UI}-->/ie/html5shiv.min.js"></script>
<script src="<!--{$iCMS.UI}-->/ie/respond.min.js"></script>
<![endif]-->

<script src="<!--{$iCMS.UI}-->/jquery-1.11.0.min.js"></script>
<!--{if $ui.script}-->
<script src="<!--{$iCMS.UI}-->/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="<!--{$iCMS.UI}-->/artDialog/6.0.3/dialog-plus-min.js"></script>
<script src="<!--{$iCMS.UI}-->/iCMS-6.0.0.js"></script>
<script src="<!--{$site.urls.ui}-->/jquery.poshytip.min.js"></script>
<script src="<!--{$site.urls.ui}-->/iCMS-6.0.0.js"></script>
<script src="<!--{$site.urls.ui}-->/iCMS.user-6.0.0.js"></script>
<script src="<!--{$site.urls.ui}-->/iCMS.login-6.0.0.js"></script>
<script>
window.iCMS.init({
	API:"<!--{iCMS:router url='/api'}-->",
	PUBLIC:"<!--{$site.urls.public}-->",
	COOKIE:'<!--{$iCMS.COOKIE_PRE}-->'
});
$(function(){
	iCMS.run();

})
</script>
<!--{/if}-->
