@import "normalize-3.0.1.css";
/*Windows Phone 8*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* bootstrap3 fix */
.input-group .has-switch, .input-group .has-switch span.switch-left { -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }
/* ********* */
body, button, input, select, textarea { color: #111; font: 14px/1.75 Helvetica, STHeiti, Droid Sans Fallback }
body { color: #2a2a2a; font-size: 14px; background-color: #f8f8f8; }
.r3 { border-radius: 3px }
.r5 { border-radius: 5px }
.shadow { box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4); }
.btn { outline: none !important; outline-style: none !important; }
.gr-btn { color: #fff; background-color: #5cb85c; border-color: #4cae4c; }
.form-actions { padding: 19px 20px 20px; margin-top: 20px; margin-bottom: 20px; background-color: #f5f5f5; border-top: 1px solid #e5e5e5; }
.iCMS-mobile .container { padding: 0px; }
.iCMS-mobile .container .wrapper { background-color: #F8F8F8; padding: 10px; min-height: 400px; }
.circle { font-size: 18px; width: 50px; text-align: center; cursor: pointer; display: block; line-height: 50px; border-radius: 50px; background-color: #666; position: absolute; color: #fff; }
a.circle { color: #fff; }
#iCMS-scrollUp { display: none; bottom: 20px; right: 10px; height: 40px; width: 40px; line-height: 40px; position: fixed; }
h3.title { border-radius: 3px; background-color: #e8e8e8; height: 30px; line-height: 30px; padding-left: 20px; margin-bottom: 10px; }
h3.title span { color: #70A700; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; }
/* 下拉加载图片 */
#infscr-loading { display: block; }
#infscr-loading img { display: none }
.loading_wrap { padding: 10px 0; margin-bottom: 10px; text-align: center; color: #888; font-size: 16px }

#header { margin-bottom: 0px; border-bottom: 1px solid #ddd; background-color: #EEEEEE; }
#header .header-title { line-height: 44px; font-size: 20px; text-align: center; width: 100%; display: block; }
#header .header-back { background-color: transparent; float: left; border-color: #ddd; margin-top: 8px; margin-left: 10px; margin-bottom: 8px; }
#header .header-back i { color: #888; font-size: 18px; }
#header.affix { width: 100%; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); z-index: 999; }
.search-toggle { border: none; color: #333; background-color: #eee; position: relative; float: right; margin: 10px 10px 0px 0px; width: 40px; line-height: 32px; height: 32px; font-size: 18px; }

/* navbar.htm */
#iCMS-search-box .navbar-form { border: none; }
#iCMS-navbar-login { /* box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);  */ background-color: #F8F8F8; }
#iCMS-navbar-login .info { font-size: 12px; text-align: left; color: #666; padding: 0 5px; line-height: 16px; margin: 10px 0px; }
#iCMS-navbar-login .login-btn { width: 100%; margin: 0px auto 10px auto; height: 35px; font-size: 16px; }
#iCMS-navbar-login a.reg { padding: 5px; display: inline-block; }
#iCMS-navbar-login .close { margin-top: 5px; }
/* #iCMS-navbar-login.affix { top: 0px; margin: 0px; left: 0px; padding: 10px; z-index: 9999; width: 100%; }
*/
/* */
#iCMS-menu-box { width: 100%; height: 100%; line-height: 40px; position: fixed; left: 0; top: 0; z-index: 9999; }
#iCMS-menu-box .navbar-collapse { width: 75%; height: 100%; padding-left: 10px; float: left; overflow: hidden; background-color: #333; padding-right: 0px }
#iCMS-menu-box .menu_right { width: 25%; height: 100%; overflow: hidden; line-height: 40px; background-color: rgba(255, 255, 255, 0.8); float: left; position: relative; }
#iCMS-menu-box .menu_right .menu_close { margin-left: -25px; bottom: 20px; left: 50%; }
#iCMS-menu-box .navbar-nav li a { color: #c0c0c0; }
#iCMS-menu-box .navbar-nav li.active { background-color: #057AFD; }
#iCMS-menu-box .navbar-nav li.active a { color: #fff; }
#iCMS-menu-box .divider { border-top: solid #111 1px; border-bottom: solid #444 1px; display: block; }
#iCMS-menu-box .menu_head .mlogo { padding: 10px 0px; }
#iCMS-menu-box .menu_head #iCMS-nav-login a.btn { height: auto; font-size: 12px; float: right; margin-right: 10px; margin-top: 15px; width: auto; }
#iCMS-menu-box .nav>li>a:hover, #iCMS-menu-box .nav>li>a:focus { background-color: #444; }
#iCMS-menu-box .nav .open>a, #iCMS-menu-box .nav .open>a:hover, #iCMS-menu-box .nav .open>a:focus { background-color: #444; }
/* */
#iCMS-nav-profile { display: none; margin-top: 5px; }
#iCMS-nav-profile .publish { float: right; margin-right: 5px; margin-top: 5px; }
.iCMS_profile_wrap { display: inline-block; }
.iCMS_profile_wrap .iCMS_user_home { text-decoration: none }
.iCMS_profile_wrap .iCMS_user_home .avatar { float: left; margin-top: 3px; width: 35px; height: 35px; border: 1px solid rgba(255, 255, 255, 0.1); }
.iCMS_profile_wrap .iCMS_user_home .label { font-size: 14px; margin-left: 4px; padding: 0px 5px; max-width: 100px !important; overflow: hidden; display: block; margin-top: 6px; float: left; height: 30px; line-height: 30px; }
.iCMS_profile_wrap .iCMS_user_home .caret { color: #fff; }
.iCMS_profile_wrap .dropdown-menu { margin-top: 2px; }
.iCMS_profile_wrap .dropdown-menu i{font-size: 16px;margin-right: 5px;}
.iCMS_profile_wrap .dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: ''; }
.iCMS_profile_wrap .dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #fff; border-left: 6px solid transparent; content: ''; }
.iCMS_profile_wrap .dropdown-menu>li>a { padding: 8px 20px; font-size: 18px; }
/* pagination */
.iCMS_pagination { margin: 10px 0px; clear: both; max-height: 30px; position: relative; text-align: center }
.iCMS_pagination a, .iCMS_pagination span { display: inline-block; padding: 4px 12px; line-height: 20px; text-decoration: none; background-color: #fff; border: 1px solid #ddd; border-left-width: 0 }
.iCMS_pagination a:hover, .iCMS_pagination a:focus { background-color: #f5f5f5 }
.iCMS_pagination a.page_nowindex { color: #999; cursor: default }
.iCMS_pagination a:first-child, .iCMS_pagination span:first-child { border-left-width: 1px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px }
.iCMS_pagination a:last-child, .iCMS_pagination span:last-child { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px }
/* login reg */
.iCMS-mobile .login_reg_wrapper .logo { text-align: center; margin: 10px 0px 30px; }
.iCMS-mobile .login_reg_wrapper .logo a { margin: 0px auto; display: inline-block; }
.iCMS-mobile .login_reg_wrapper h1 { margin: 20px 0px; color: #768263; font-weight: normal; font-size: 26px; }
.iCMS-mobile .login_reg_wrapper .form-group .form-control { height: 45px; font-size: 16px; }
.iCMS-mobile .login_reg_wrapper .form-group span .tooltip { position: static !important; margin: 0px !important; padding: 0px !important; }
.iCMS-mobile .login_reg_wrapper .form-group span .tooltip.in { display: inline-block !important; }
.iCMS-mobile .login_reg_wrapper .form-group span .tooltip .tooltip-arrow { display: none; }
.iCMS-mobile .login_reg_wrapper .form-group span .tooltip .tooltip-inner { padding: 4px !important; background-color: #F8F8F8; color: #0085FF; font-size: 14px; margin: 0px !important; }
.iCMS-mobile .login_reg_wrapper .form-group span .tooltip .tooltip-inner i { font-size: 16px; }
.iCMS-mobile .login_reg_wrapper .checkbox input { top: 2px; left: 0px; width: 18px; height: 18px; margin-right: 5px; }
.iCMS-mobile .login_reg_wrapper .checkbox label { padding-left: 5px; }
.iCMS-mobile .login_reg_wrapper .checkbox span { margin-left: 20px; }
.iCMS-mobile .login_reg_wrapper .radio input { width: 18px; height: 18px; }
.iCMS-mobile .login_reg_wrapper .radio label { font-size: 18px; }
.iCMS-mobile .login_reg_wrapper .lr-btn { margin-left: 10px; }
#iCMS-login-box .iCMS_login_btn, #iCMS-register-box .iCMS_register_btn { font-size: 18px; }
#iCMS-login-box .findpwd { margin: 5px 5px 0px 0px; float: right; }
.iCMS_seccode { display: inline-block; width: 90px; height: 40px !important; }
.iCMS_seccode_text { font-size: 16px; margin-left: 4px; }
.iCMS_seccode_img { height: 30px; margin-top: 5px; }
/* userApp */
#iCMS-userApp { padding: 0px; max-width: 900px; }
#iCMS-userApp .userApp_header { position: relative; height: 360px; }
#iCMS-userApp .userApp_cover { width: 100%; height: 300px; max-width: inherit; overflow: hidden; background: url(coverpic.jpg) no-repeat 0 0; border-bottom: solid #ddd 1px; /* -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);  */ }
#iCMS-userApp .userApp_name { position: absolute; right: 120px; bottom: 62px; }
#iCMS-userApp .userApp_name a { color: #fff; font-size: 18px; font-weight: bold; -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8); }
#iCMS-userApp .userApp_avatar { position: absolute; bottom: 20px; right: 20px; }
#iCMS-userApp .userApp_avatar_img { width: 90px; height: 90px; padding: 2px; border: solid #ddd 1px; background-color: #fff; }
#iCMS-userApp .userApp_slogan { color: #AAA; margin-top: 45px; text-align: right; padding-right: 20px; height: 48px; overflow: hidden; }
#iCMS-userApp .userApp_content { margin-top: 45px; padding-bottom: 30px; }
#iCMS-userApp .userApp_day { margin-bottom: 20px; width: 100%; clear: both; }
#iCMS-userApp .userApp_day a { color: #000; }
#iCMS-userApp .userApp_day .date { margin-top: -10px; float: left; width: 100px; font-size: 30px; font-weight: bold; text-align: center; }
#iCMS-userApp .userApp_day .date .day { margin-right: 2px; }
#iCMS-userApp .userApp_day .date .mon { font-size: 16px; }
#iCMS-userApp .userApp_day .content { margin-left: 100px; }
#iCMS-userApp .userApp_day .content .artlist { margin-bottom: 5px; }
#iCMS-userApp .userApp_day .content .thumb { float: left; width: 90px; height: 90px; overflow: hidden; margin-right: 8px; }
#iCMS-userApp .userApp_day .content .thumb img { height: 90px; }
#iCMS-userApp .userApp_day .content .title { margin-right: 5px; }
#iCMS-userApp .userApp_day .content .title a { display: block; }
#iCMS-userApp .userApp_day .content .title.npic { background-color: #e8e7e7; padding: 4px 8px; }
/* media */
@media (min-width:768px) {
	.navbar-toggle { display: block; }
	.navbar-nav { margin-top: 10px; }
	.navbar-nav>li>a { padding-top: 5px; padding-bottom: 5px; }
	.iCMS_search_btn { display: none; }
	#iCMS-navbar-login { display: none; }
}
/* ==index== */
/* slide */
.rotator { margin-top: 4px; border-bottom: 1px solid #d4d4d4; width: 100%; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box }
.rotator .slide_show { height: 200px; }
.rotator .slide_show li { display: none; width: 100%; height: 100%; overflow: hidden; position: relative; line-height: 0 }
.rotator .slide_show li:first { display: block; }
.rotator .slide_show li img { width: 100%; height: 100%; }
.rotator .slide_nav li { display: none; position: relative; height: 30px; line-height: 30px; padding-left: 50px; background-color: #fff }
.rotator .slide_nav li a { display: inline-block; height: 30px; overflow: hidden; line-height: 30px; font-size: 16px }
.rotator .slide_nav .on { display: block }
.rotator .show_n { display: inline-block; position: absolute; top: -5px; left: 10px; width: 30px; height: 30px; background-color: #11609f }
.rotator .show_n:before { display: block; content: ''; position: absolute; left: 9px; top: 17px; width: 18px; height: 1px; background-color: #fff; -webkit-transform: rotate(-60deg) }
.rotator .show_n:after { display: block; content: ''; position: absolute; right: -6px; top: 6px; width: 0; height: 0; overflow: hidden; border: 3px solid #11609f; border-top-color: transparent; border-right-color: transparent }
.rotator .show_n i, .show_n small { display: inline-block; position: absolute; color: #fff }
.rotator .show_n i { left: 3px; top: 2px; height: 18px; line-height: 18px; font-size: 14px; font-style: normal }
.rotator .show_n small { bottom: 1px; right: 2px; height: 14px; line-height: 14px; font-size: 8px }
/* list */
.article_list { margin: 10px; }
.article_list .list { padding: 0 8px 0; }
.article_list .list li { overflow: hidden; border-bottom: 1px solid #eceef0; box-shadow: 0 1px 1px #fff; }
.article_list .list li a { display: block; color: #000; }
.article_list .list li a:visited { color: #929292; }
/* loading */
.article_list .list .loading { height: 30px; padding: 10px 0; line-height: 30px; text-align: center; font-size: 1em; color: #000; border: none; }
/* full-图文列表 */
.article_list .full { padding: 10px 0; border-bottom: 1px solid #eceef0; }
.article_list .full h3 { height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 5px; margin-bottom: 4px; }
.article_list .full .thumb { overflow: hidden; width: 75px; height: 80px; line-height: 51px; padding: 1px; background: #e9f1f4; border: 1px solid #e0e0e0; float: left; text-align: center; }
.article_list .full .thumb img { display: inline-block; width: 100%; margin: 0 auto; vertical-align: middle; }
.article_list .full p { padding: 0 0 0 5px; line-height: 17px; font-size: 0.8125em; word-wrap: break-word; overflow: hidden; max-height: 34px; color: #878c92; }
.article_list .full .count { height: 17px; line-height: 17px; display: inline-block; text-align: right; float: right; }
/*.article_list .full .count i { display: inline-block; font-size: 0.6875em; font-family: Helvetica; color: #878c92; font-style: normal; }*/
/* 漂浮在上面 */
/* .article_list .panel-heading { position: relative; }
.article_list .category { position: absolute; top: -20px; left: 0px; display: block; }
.article_list .category span { padding: 4px 10px; display: block; display: block; border-radius: 3px 3px 0px 0px; }
*/
.article_list .category { float: left; }
.article_list .panel-title { display: inline; margin-left: 5px; line-height: 160%; }
.article_list .panel-footer u, .panel-footer time, .panel-footer i, .panel-footer s { text-decoration: none; font-style: normal; margin: 0 5px; font-size: 12px }
.article_list .panel-footer u, .panel-footer time { float: left }
.article_list .panel-footer i, .panel-footer s { float: right }
.article_list .panel-footer time, .panel-footer s { color: #999 }
/* category */
.iCMS-mobile #cat_carousel .carousel-inner img { width: 100%; height: 180px; }
/* .iCMS-mobile .category_header { font-size: 18px; line-height: 14px; margin: 5px; height: 46px; background-color: #F8F8F8; }
.iCMS-mobile .category_header.affix { width: 100%; top: 0px; z-index: 9999; margin: 0px; }
.iCMS-mobile .category_header h3.title { height: 46px; overflow: hidden; font: 20px/46px SimHei; text-align: center; color: #87b32e; }
*/
/* article */
/* #article_load { display: none; bottom: 50px; right: 20px; height: 38px; width: 38px; position: fixed; }
*/

article { margin: 13px 5px 20px; border-bottom: 1px solid #ddd; }
article h1 { font: 20px/26px SimHei; }
article .info { margin: 5px 0 10px; padding: 5px 0; border-bottom: 1px solid #d4d5d6; color: #b1b1b1; }
article .info span a { color: #fff; }
article .info .fs_btn { float: right; width: 26px; height: 26px; padding: 3px; }
article .article_tags a.tag { margin-left: 10px; }
article .article_body { font-size: 16px; color: #565656; }
article .article_body.font_big { font-size: 20px }
article .article_body img { display: block; margin: 5px auto 0; text-align: center; max-width: 100%; height: auto !important }
article .article_body p { margin-top: 10px }
article .article_body p embed { max-width: inherit; width: 100%; }
article .article_body .list-group-item-heading { color: #87b32e; background-color: #F8F8F8; padding: 2px 15px; height: 30px; line-height: 30px; overflow: hidden; }
article .article_body .list-group-item-text { font-size: 12px; color: #666; }
/* article .article_body .pagenav { border-top: 1px solid #d4d5d6; }
*/
#scrollLoad-switcher { display: none; position: fixed; width: 48px; height: 36px; background-color: #ddd; z-index: 10; left: 0; bottom: 20px; border-radius: 0 5px 5px 0; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
#scrollLoad-switcher button { display: block; padding: 6px 0px 0px 8px; }
#scrollLoad-switcher i { font-size: 26px; color: #057AFD; }
section { margin: 0px; }
section.panel { margin-bottom: 0px; }
section .panel-heading h3 { height: 20px; color: #333; font: 18px/19px "\5b8b\4f53" }
section .panel-heading h3 span { padding-left: 10px; color: #ccc; letter-spacing: 1px; font: italic 16px/18px Palatino Linotype, simsun }
/* section.related .hd { border-bottom: 3px solid #333; }
section.comment .hd { border-bottom: 3px solid #333; }
section.comment .bd { background-color: #fff; }
section.comment .iCMS_comment_form_wrap { }
*/
/* Footer
-------------------------------------------------- */
footer { background-color: #fff; padding: 10px 0; width: 100%; border-top: 1px solid #ddd; text-align: center; }
footer p { padding: 0px 10px; margin-bottom: 4px; color: #777; font-size: 12px; }
footer .links { margin: 10px 0; }
footer .links li { display: inline; padding: 0 2px; }
footer .links li:first-child { padding-left: 0; }
