/* ===========commentApp=========== */
/* icon */
.iCMS_icon { width: 16px; height: 16px; background-image: url(img/sprites-1.9.1.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle }
.iCMS_icon_comment_like { background-position: -222px -92px }
.iCMS_icon_comment_reply { background-position: -250px -92px }
.iCMS_icon_report { background-position: -71px -183px }
.iCMS_icon_spike { position: absolute; top: -8px; left: 23px; width: 13px; height: 8px; background-position: -200px -165px }
a:hover>.iCMS_icon_comment_reply { background-position: -250px -79px }
a:hover>.iCMS_icon_comment_like { background-position: -222px -79px }
a:hover>.iCMS_icon_report { background-position: -71px -170px }
/* ===========comment form=========== */
.iCMS_comment_form_wrap { border-radius: 4px; background-color: #fff; margin: 8px auto 20px auto; width: 100%; max-width: 600px; font-size: 14px; padding: 10px; }
.iCMS_comment_form_wrap .alert { margin: 10px 0px; padding: 4px 10px; font-size: 12px }
#iCMS-cmt-profile { display: none }
#iCMS-cmt-login { margin: 10px 0px }
.iCMS_cmt_editor { }
.iCMS_editor_text { padding: 5px 10px; width: 100%; max-width: 580px; height: 90px; background: url(img/iCMS.logo.bg-6.0.png) no-repeat center center; font-size: 14px; line-height: 1.7 }
.iCMS_cmt_command { text-align: right }
.iCMS_cmt_command .cmt-add { float: right; margin: 8px 0px 8px 8px; padding: 5px 10px }
.iCMS_cmt_command .cmt-cancel { float: right; margin: 15px 15px 0 0; cursor: pointer }
/* ===========list=========== */
.spinner-gray, .spinner-lightgray { display: inline-block; margin: 0 5px; width: 14px; height: 15px; vertical-align: -3px; background-size: 14px 15px; background-repeat: no-repeat; background-image: url(/img/grey-loading.gif); }
.spinner-lightgray { background-image: url(img/lightgray-loading.gif); }
.commentApp-list-wrap { margin: 10px 0 0 35px; background: #fff; max-width: 540px; position: relative; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, .05) }
.commentApp-list-wrap .load-more { padding: 8px 0; display: block; font-size: 13px; height: 22px; text-align: center; border: 1px solid #eee; border-width: 1px 0 0; color: #698ebf; box-shadow: 0 0 5px rgba(180, 180, 180, .1) inset; text-shadow: 0 1px 0 #fff }
.commentApp-list-wrap .load-more .text { position: relative }
.commentApp-list-wrap .load-more .spinner { position: absolute; top: 0; right: -20px; display: none }
.commentApp-list-wrap .load-more.loading .spinner { display: block }
html.no-touch .commentApp-list-wrap .load-more:hover { background: #fefefe; text-decoration: none }
.commentApp-list-wrap .load-more:active { background: #fbfbfb; box-shadow: 0 0 5px rgba(180, 180, 180, .2) inset }
.commentApp-list-wrap .load-more+.commentApp-item { margin: 0; padding: 8px 12px; border-top: 1px solid #eee }
.commentApp-list-wrap .commentApp-bubble { position: absolute; top: -8px; left: 81px; display: none }
.commentApp-list-wrap.empty { border: 0; box-shadow: none }
.commentApp-list-wrap.empty.cannot-comment { border: 1px solid #ddd }
.commentApp-list-wrap.cannot-comment .editable, .commentApp-list-wrap.cannot-comment .cmt-command, .commentApp-list-wrap.cannot-comment .commentApp-op-link.reply { display: none !important }
.commentApp-list-wrap.empty .commentApp-bubble { display: none !important }
.commentApp-list-wrap.empty.cannot-comment .commentApp-bubble { display: block !important }
.commentApp-list-wrap.empty .commentApp-list-wrap-ft { margin: 0 30px 0 0; padding: 0; border: 0 !important; background: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form { margin: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form, .commentApp-list-wrap .commentApp-form { padding: 15px }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft, .commentApp-list-wrap .commentApp-list-wrap-ft { background: #fbfbfb; border-radius: 0 0 4px 4px; border-top: 1px solid #EEE; position: relative }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft { background: #fff }
.commentApp-spinner { padding: 6px 12px; font-size: 13px; }
.commentApp-item { position: relative; margin: 0 12px; padding: 8px 0 }
.commentApp-item .commentApp-content-wrap { margin: 0 0 0 35px }
.commentApp-item>.cmt-item-link-avatar { float: left; margin: 4px 0 0 }
.commentApp-item .cmt-item-img-avatar { width: 25px; height: 25px; border-radius: 2px }
.commentApp-item .commentApp-content { color: #222; min-height: 22px }
.commentApp-item .commentApp-content-hd, .commentApp-item .commentApp-content-ft { color: #999 }
.commentApp-item .commentApp-content-hd .desc, .commentApp-item .commentApp-content-ft .desc { font-size: 14px }
.commentApp-item .commentApp-content-ft { font-size: 12px }
.commentApp-item .like-num { float: right; margin-top: -1px }
.commentApp-item .like-num>span, .commentApp-item .like-num>em { font-style: normal; vertical-align: -2px }
.commentApp-item .like-num.nil { display: none }
.commentApp-item.focusin .commentApp-op-link, .commentApp-item:hover .commentApp-op-link { visibility: visible }
.commentApp-item+.commentApp-item { border-top: solid 1px #eee }
.commentApp-item .commentApp-form { padding: 15px 0 }
.commentApp-info { text-align: center }
.commentApp-form .commentApp-textarea { padding: 7px 8px; color: #222; font-size: 13px; line-height: 22px; min-height: 22px; width: 95% }
.commentApp-form.expanded .cmt-command { display: block; line-height: 33px; }
.commentApp-form .cmt-command { display: none; padding: 10px 0; text-align: right }
.commentApp-form .cmt-command .btn-primary { float: right; }
.commentApp-form .cmt-command .cmt-command-cancel { float: right; }
.with-self-avatar .commentApp-form .avatar { display: block }
.commentApp-form .avatar { float: left; display: none; margin: 2px 10px 0 0; width: 34px; height: 34px; border-radius: 4px }
.commentApp-form .avatar+.editable { overflow: hidden }
.commentApp-op-link { margin-left: .5em; color: #999; font-size: 12px; visibility: hidden }
.cmt-command-cancel { margin: 0 15px 0 0; cursor: pointer; float: left; }
.cmt-command-cancel:hover { text-decoration: underline }
.commentApp-op-link>.iCMS_icon { margin-right: 5px; width: 11px; height: 11px; vertical-align: -1px }
#iCMS-comment-list-box { margin: 2px; background: #fff; position: relative; border: none; max-width: 99%; box-shadow: none; }
#iCMS-comment-list-box .cmt-item-img-avatar { width: 36px; height: 36px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22); padding: 2px; }
#iCMS-comment-list-box .commentApp-content-wrap { margin: 0 0 0 48px }
.iCMS_no_comment { margin-top: 10px; margin-left: 10px; color: #b1b1b1; }
