* { word-wrap: break-word; word-break: break-all }
body, button, input, select, textarea { color: #111; font: 14px/1.75 "Helvetica Neue", Helvetica, Tahoma, Arial, "\5b8b\4f53", sans-serif }
a:hover { text-decoration: none }
.border { border: 1px solid #DADADA }
.r3 { border-radius: 3px }
.r5 { border-radius: 5px }
.r10 { border-radius: 10px }
.rt3 { border-radius: 3px 3px 0 0 }
.rt5 { border-radius: 5px 5px 0 0 }
.rt10 { border-radius: 10px 10px 0 0 }
.rb3 { border-radius: 0 0 3px 3px }
.rb5 { border-radius: 0 0 5px 5px }
.rb10 { border-radius: 0 0 10px 10px }
.rl3 { border-radius: 3px 0 0 3px }
.rl5 { border-radius: 5px 0 0 5px }
.rl10 { border-radius: 10px 0 0 10px }
.rr3 { border-radius: 0 3px 3px 0 }
.rr5 { border-radius: 0 5px 5px 0 }
.rr10 { border-radius: 0 10px 10px 0 }
.fl { display: inline; float: left }
.fr { display: inline; float: right }
.mt0 { margin-top: 0 !important }
.mt5 { margin-top: 5px !important }
.mt10 { margin-top: 10px !important }
.mt15 { margin-top: 15px !important }
.mt20 { margin-top: 20px !important }
.mt25 { margin-top: 25px !important }
.mt30 { margin-top: 30px !important }
.mt35 { margin-top: 35px !important }
.mt40 { margin-top: 40px !important }
.mr0 { margin-right: 0 !important }
.mr5 { margin-right: 5px !important }
.mr10 { margin-right: 10px !important }
.mr15 { margin-right: 15px !important }
.mr20 { margin-right: 20px !important }
.mr25 { margin-right: 25px !important }
.mr30 { margin-right: 30px !important }
.mr35 { margin-right: 35px !important }
.mr40 { margin-right: 40px !important }
.mb0 { margin-bottom: 0 !important }
.mb5 { margin-bottom: 5px !important }
.mb10 { margin-bottom: 10px !important }
.mb15 { margin-bottom: 15px !important }
.mb20 { margin-bottom: 20px !important }
.mb25 { margin-bottom: 25px !important }
.mb30 { margin-bottom: 30px !important }
.mb35 { margin-bottom: 35px !important }
.mb40 { margin-bottom: 40px !important }
.ml0 { margin-left: 0 !important }
.ml5 { margin-left: 5px !important }
.ml10 { margin-left: 10px !important }
.ml15 { margin-left: 15px !important }
.ml20 { margin-left: 20px !important }
.ml25 { margin-left: 25px !important }
.ml30 { margin-left: 30px !important }
.ml35 { margin-left: 35px !important }
.ml40 { margin-left: 40px !important }
.pt0 { padding-top: 0 !important }
.pt5 { padding-top: 5px !important }
.pt10 { padding-top: 10px !important }
.pt15 { padding-top: 15px !important }
.pt20 { padding-top: 20px !important }
.pt25 { padding-top: 25px !important }
.pt30 { padding-top: 30px !important }
.pt40 { padding-top: 40px !important }
.pr0 { padding-right: 0 !important }
.pr5 { padding-right: 5px !important }
.pr10 { padding-right: 10px !important }
.pr15 { padding-right: 15px !important }
.pr20 { padding-right: 20px !important }
.pr25 { padding-right: 25px !important }
.pr30 { padding-right: 30px !important }
.pr35 { padding-right: 35px !important }
.pr40 { padding-right: 40px !important }
.pb0 { padding-bottom: 0 !important }
.pb5 { padding-bottom: 5px !important }
.pb10 { padding-bottom: 10px !important }
.pb15 { padding-bottom: 15px !important }
.pb20 { padding-bottom: 20px !important }
.pb25 { padding-bottom: 25px !important }
.pb30 { padding-bottom: 30px !important }
.pb35 { padding-bottom: 35px !important }
.pb40 { padding-bottom: 40px !important }
.pl0 { padding-left: 0 !important }
.pl5 { padding-left: 5px !important }
.pl10 { padding-left: 10px !important }
.pl15 { padding-left: 15px !important }
.pl20 { padding-left: 20px !important }
.pl25 { padding-left: 25px !important }
.pl30 { padding-left: 30px !important }
.pl35 { padding-left: 35px !important }
.pl40 { padding-left: 40px !important }
.plr10 { padding: 0 10px !important }
.psb { padding: 20px 0 15px 25px !important }
.gc, .bc, .nc { color: #ff86b6 !important }
.ofh { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; word-break: normal; -o-text-overflow: ellipsis }
.clr { clear: both }
.clear_in { overflow: hidden; zoom: 1 }
.clearfix:before, .clearfix:after { display: table; content: "" }
.clearfix:after { clear: both }
.clearfix { zoom: 1 }
.clear { display: block; visibility: hidden; clear: both; overflow: hidden; width: 0; height: 0 }
.posr { position: relative }
.posa { position: absolute }
.ft6 { color: #666 }
.fta { color: #aaa }
i { text-align: center }
a, a:hover, a:focus { color: #057AFD }
/* ==modal== */
.modal .modal-header { background-color: #1575d5; background-image: -moz-linear-gradient(top, #1d7fe2, #0865c2); background-image: -ms-linear-gradient(top, #1d7fe2, #0865c2); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7fe2), to(#0865c2)); background-image: -webkit-linear-gradient(top, #1d7fe2, #0865c2); background-image: -o-linear-gradient(top, #1d7fe2, #0865c2); background-image: linear-gradient(top, #1d7fe2, #0865c2); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d7fe2', endColorstr='#0865c2', GradientType=0); padding: 3px 15px; border-radius: 6px 6px 0 0; border: 1px solid #0D6EB8; box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 0 1px 1px rgba(0, 0, 0, .2); margin: -1px -1px 0; line-height: 14px }
.modal .modal-header h3 { color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, .4); font-size: 15px; font-weight: 700 }
/* ==piece== */
.piece { border-radius: 10px }
.piece .piece_hd { border-radius: 10px 10px 0 0 }
.piece .piece_ft { border-radius: 0 0 10px 10px }
.piece .piece_hd, .piece .piece_ft { position: relative\9; margin: 0 10px\9; height: 10px; background-color: #fff; font-size: 0 }
.piece .piece_hd b, .piece .piece_ft b { display: none; display: block\9; overflow: hidden\9; width: 10px\9; height: 10px\9; font-size: 0; line-height: 10px\9 }
.piece .piece_hd .hl { position: absolute\9; top: 0\9; left: -10px\9; background: url(img/piece_hd_left.png) no-repeat 0 0\9; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/piece_hd_left.png', sizingMethod='scale') }
.piece .piece_hd .hr { position: absolute\9; top: 0\9; right: -10px\9; background: url(img/piece_hd_right.png) no-repeat 0 0\9; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/piece_hd_right.png', sizingMethod='scale') }
.piece .piece_bd { background-color: #fff; zoom: 1 }
.piece .piece_bd:before, .piece .piece_bd:after { display: table; content: "" }
.piece .piece_bd:after { clear: both }
.piece .piece_ft .fl { position: absolute\9; top: 0\9; left: -10px\9; background: url(img/piece_ft_left.png) no-repeat 0 0\9; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/piece_ft_left.png', sizingMethod='scale') }
.piece .piece_ft .fr { position: absolute\9; top: 0\9; right: -10px\9; background: url(img/piece_ft_right.png) no-repeat 0 0\9; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/piece_ft_right.png', sizingMethod='scale') }
/* ==mod== */
.mod { border: 1px solid #dadada }
.mod .hd { overflow: hidden; padding: 0 10px; height: 28px; text-align: right; line-height: 29px }
.mod .hd h3 { float: left; font-size: 14px }
.mod .hd .more { overflow: hidden; color: #333 }
.mod .hd .more a { padding: 0 3px; color: #666 }
.mod .bd { zoom: 1 }
.mod .bd:after { display: block; visibility: hidden; clear: both; height: 0; content: "." }
.mod { margin-bottom: 30px; border: 0 }
.mod .hd { padding: 0; border-bottom: 1px solid #ccc }
.mod .hd .more { display: inline-block; height: 20px; color: #999; vertical-align: top; font-size: 12px; font-family: tahoma; line-height: 20px }
.mod .hd h3 { padding-left: 10px; height: 20px; border-left: 3px solid #369; color: #333; font: 18px/19px "\5b8b\4f53" }
.mod .hd h3 span { padding-left: 10px; color: #ccc; letter-spacing: 1px; font: italic 16px/18px Palatino Linotype, simsun }
.mod .hd h3 a:link, .mod .hd h3 a:visited, .mod .hd h3 a:hover { color: #369; font-weight: bold; line-height: 18px }
.mod .bd { overflow: hidden }
/* ==iCMS== */
/* icon */
.iCMS_icon { width: 16px; height: 16px; background-image: url(img/sprites-1.9.1.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle }
.iCMS_icon_comment_like { background-position: -222px -92px }
.iCMS_icon_comment_reply { background-position: -250px -92px }
.iCMS_icon_report { background-position: -71px -183px }
.iCMS_icon_spike { position: absolute; top: -8px; left: 23px; width: 13px; height: 8px; background-position: -200px -165px }
a:hover>.iCMS_icon_comment_reply { background-position: -250px -79px }
a:hover>.iCMS_icon_comment_like { background-position: -222px -79px }
a:hover>.iCMS_icon_report { background-position: -71px -170px }
/* pagination */
.iCMS_pagination { margin: 10px; clear: both; max-height: 30px; position: relative; text-align: center }
.iCMS_pagination a, .iCMS_pagination span { display: inline-block; padding: 4px 12px; line-height: 20px; text-decoration: none; background-color: #fff; border: 1px solid #ddd; border-left-width: 0 }
.iCMS_pagination a:hover, .iCMS_pagination a:focus { background-color: #f5f5f5 }
.iCMS_pagination a.page_nowindex { color: #999; cursor: default }
.iCMS_pagination a:first-child, .iCMS_pagination span:first-child { border-left-width: 1px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px }
.iCMS_pagination a:last-child, .iCMS_pagination span:last-child { -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px }
/**/
#iCMS-nav-profile { display: none }
.iCMS_profile_wrap { display: inline-block; padding-right: 10px }
.iCMS_profile_wrap .caret { margin-top: 10px; }
.iCMS_profile_wrap .iCMS_user_home { text-decoration: none }
.iCMS_profile_wrap .iCMS_user_home .avatar { width: 25px; height: 25px; border: 1px solid rgba(0, 0, 0, .1); box-shadow: 0 1px 0 rgba(255, 255, 255, .1) }
.iCMS_profile_wrap .iCMS_user_home .name { margin-left: 4px; }
.iCMS_profile_wrap .iCMS_user_home .dropdown-menu>li>a { font-size: 14px }
.iCMS_hover_wrap { display: none; z-index: 999; position: absolute; top: 0; left: 0; min-width: 120px; border-radius: 0 0 3px 3px; background: #FFF }
/**/
#iCMS-seccode { width: 60px }
#iCMS-seccode-img { vertical-align: top }
#iCMS-uname { font-size: 12px }
#iCMS-login-box { display: none }
.iCMS_login_wrap .login_box { padding: 0 12px 24px; background-color: #fff }
.iCMS_login_wrap .login_form { float: left; padding: 10px 25px 5px 10px; width: 280px; *padding-top: 10px }
.iCMS_login_wrap .login_form dd { float: left; width: 58px; vertical-align: middle; text-align: right; line-height: 26px }
.iCMS_login_wrap .login_form dt { margin-bottom: 15px; height: 26px; color: #666; font-weight: normal; _margin-bottom: 10px }
.iCMS_login_wrap .login_form dt .checkbox { margin: 0px 4px 0px 0px; vertical-align: top }
.iCMS_login_wrap .login_form a { padding-left: 12px; color: #8e8e8e; _margin_bottom: 5px }
.iCMS_login_wrap .register_box { line-height: 16px }
.iCMS_login_wrap .reg_btn { display: block; margin: 10px 0 20px; width: 141px; height: 30px; background: url(img/book_regist.png) no-repeat; cursor: pointer }
.iCMS_login_wrap .lb_bd { width: 560px }
.iCMS_login_wrap .l_o a { display: inline-block; margin: 2px 5px 10px; padding: 0 0 0 19px; background: url(img/login_method_v3.png) no-repeat 0 0; color: #666; line-height: 16px }
.iCMS_login_wrap .login_fail { font-size: 12px; visibility: hidden; padding-top: 10px; padding-left: 65px; width: 360px; color: #FE2617 }
.iCMS_login_wrap .reg_or_weibo { display: inline-block; padding-left: 30px; width: 160px; border-left: 1px solid #c8c8c8 }
.iCMS_login_wrap .lb_bd .lb_s { margin: 0 auto; padding: 55px; width: 180px; height: 45px }
.iCMS_login_wrap .lb_bd .lb_s .lb_s_img { display: block; float: left; width: 43px; height: 43px }
.iCMS_login_wrap .lb_bd .lb_s .lb_s_t { display: block; float: left; margin: 12px 0 0 12px; width: 120px; color: #333; font-size: 22px }
.iCMS_API_iframe { width: 100% }
/* ===========comment=========== */
.iCMS_comment_form_wrap { margin: 8px auto 20px auto; width: 600px; font-size: 14px }
.iCMS_comment_form_wrap .alert { margin: 10px 0px; padding: 4px 10px; font-size: 12px }
#iCMS-cmt-profile { display: none }
#iCMS-cmt-login { margin: 10px 0px }
.iCMS_cmt_editor { }
.iCMS_editor_text { padding: 5px 10px; width: 580px; height: 90px; background: url(img/iCMS.logo.bg-6.0.png) no-repeat center center; font-size: 14px; line-height: 1.7 }
.iCMS_cmt_command { text-align: right }
.iCMS_cmt_command .cmt-add { float: right; margin: 8px 0px 8px 8px; padding: 5px 10px }
.iCMS_cmt_command .cmt-cancel { float: right; margin: 15px 15px 0 0; cursor: pointer }
/* ==========report============= */
#iCMS-report-box { display: none; padding: 10px; }
.iCMS_report_dialog { }
.iCMS_report_dialog.loading .modal-dialog-buttons { display: none }
.iCMS_report_dialog .options { margin-top: 8px }
.iCMS_report_dialog .options li { padding: 4px 6px; list-style: none; line-height: 2 }
.iCMS_report_dialog .options li li { padding: 0 6px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 50% }
.iCMS_report_dialog .options label { cursor: pointer; margin: 2px 0px }
.iCMS_report_dialog .options input[type=radio] { margin: 0px 5px 2px 0px }
.iCMS_report_dialog .options .description, .iCMS_report_dialog .options .group-description { padding-left: 1em; line-height: 1.7; color: #999 }
.iCMS_report_dialog .options .group-options { margin-left: 10px }
.iCMS_report_dialog .options .visible-if-checked { display: none }
.iCMS_report_dialog .options li.checked { background-color: #eff6fa; border-radius: 3px }
.iCMS_report_dialog .options li.checked .visible-if-checked { display: block }
.iCMS_report_dialog .reason-text { width: 100%; height: 30px; margin: 10px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box }
.iCMS_report_dialog .error-container { color: #fa8282; text-align: right }
.iCMS_report_dialog .input-container { position: relative }
.iCMS_report_dialog .headnote { float: right; color: #999 }
.iCMS_report_dialog .footnote { color: #999 }
.iCMS_report_dialog .loading { text-align: center; color: #999 }
/* ================================ */
.iCMS_agreement_wrap { padding-right: 40px; padding-left: 40px; width: 880px; _width: 880px }
.iCMS_agreement_wrap .agr_h { margin-bottom: 50px; text-align: center; font-weight: bold; font-size: 26px }
.iCMS_agreement_wrap pre { font-size: 12px; width: 99%; color: #666; padding: 10px; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word }
/* ===========commentApp=========== */
.spinner-gray, .spinner-lightgray { display: inline-block; margin: 0 5px; width: 14px; height: 15px; vertical-align: -3px; background-size: 14px 15px; background-repeat: no-repeat; background-image: url(/img/grey-loading.gif); }
.spinner-lightgray { background-image: url(img/lightgray-loading.gif); }
.commentApp-list-wrap { margin: 10px 0 0 35px; background: #fff; max-width: 540px; position: relative; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, .05) }
.commentApp-list-wrap .load-more { padding: 8px 0; display: block; font-size: 13px; height: 22px; text-align: center; border: 1px solid #eee; border-width: 1px 0 0; color: #698ebf; box-shadow: 0 0 5px rgba(180, 180, 180, .1) inset; text-shadow: 0 1px 0 #fff }
.commentApp-list-wrap .load-more .text { position: relative }
.commentApp-list-wrap .load-more .spinner { position: absolute; top: 0; right: -20px; display: none }
.commentApp-list-wrap .load-more.loading .spinner { display: block }
html.no-touch .commentApp-list-wrap .load-more:hover { background: #fefefe; text-decoration: none }
.commentApp-list-wrap .load-more:active { background: #fbfbfb; box-shadow: 0 0 5px rgba(180, 180, 180, .2) inset }
.commentApp-list-wrap .load-more+.commentApp-item { margin: 0; padding: 8px 12px; border-top: 1px solid #eee }
.commentApp-list-wrap .commentApp-bubble { position: absolute; top: -8px; left: 81px; display: none }
.commentApp-list-wrap.empty { border: 0; box-shadow: none }
.commentApp-list-wrap.empty.cannot-comment { border: 1px solid #ddd }
.commentApp-list-wrap.cannot-comment .editable, .commentApp-list-wrap.cannot-comment .cmt-command, .commentApp-list-wrap.cannot-comment .commentApp-op-link.reply { display: none !important }
.commentApp-list-wrap.empty .commentApp-bubble { display: none !important }
.commentApp-list-wrap.empty.cannot-comment .commentApp-bubble { display: block !important }
.commentApp-list-wrap.empty .commentApp-list-wrap-ft { margin: 0 30px 0 0; padding: 0; border: 0 !important; background: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form { margin: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form, .commentApp-list-wrap .commentApp-form { padding: 15px }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft, .commentApp-list-wrap .commentApp-list-wrap-ft { background: #fbfbfb; border-radius: 0 0 4px 4px; border-top: 1px solid #EEE; position: relative }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft { background: #fff }
.commentApp-spinner { padding: 6px 12px; font-size: 13px; }
.commentApp-item { position: relative; margin: 0 12px; padding: 8px 0 }
.commentApp-item .commentApp-content-wrap { margin: 0 0 0 35px }
.commentApp-item>.cmt-item-link-avatar { float: left; margin: 4px 0 0 }
.commentApp-item .cmt-item-img-avatar { width: 25px; height: 25px; border-radius: 2px }
.commentApp-item .commentApp-content { color: #222; min-height: 22px }
.commentApp-item .commentApp-content-hd, .commentApp-item .commentApp-content-ft { color: #999 }
.commentApp-item .commentApp-content-hd .desc, .commentApp-item .commentApp-content-ft .desc { font-size: 12px }
.commentApp-item .commentApp-content-ft { font-size: 12px }
.commentApp-item .like-num { float: right; margin-top: -1px }
.commentApp-item .like-num>span, .commentApp-item .like-num>em { font-style: normal; vertical-align: -2px }
.commentApp-item .like-num.nil { display: none }
.commentApp-item.focusin .commentApp-op-link, .commentApp-item:hover .commentApp-op-link { visibility: visible }
.commentApp-item+.commentApp-item { border-top: solid 1px #eee }
.commentApp-item .commentApp-form { padding: 15px 0 }
.commentApp-info { text-align: center }
.commentApp-form .commentApp-textarea { padding: 7px 8px; color: #222; font-size: 13px; line-height: 22px; min-height: 22px; width: 95% }
.commentApp-form.expanded .cmt-command { display: block; line-height: 33px; }
.commentApp-form .cmt-command { display: none; padding: 10px 0; text-align: right }
.commentApp-form .cmt-command .btn-primary { float: right; }
.commentApp-form .cmt-command .cmt-command-cancel { float: right; }
.with-self-avatar .commentApp-form .avatar { display: block }
.commentApp-form .avatar { float: left; display: none; margin: 2px 10px 0 0; width: 34px; height: 34px; border-radius: 4px }
.commentApp-form .avatar+.editable { overflow: hidden }
.commentApp-op-link { margin-left: .5em; color: #999; font-size: 12px; visibility: hidden }
.cmt-command-cancel { margin: 0 15px 0 0; cursor: pointer; float: left; }
.cmt-command-cancel:hover { text-decoration: underline }
.commentApp-op-link>.iCMS_icon { margin-right: 5px; width: 11px; height: 11px; vertical-align: -1px }
#iCMS-comment-list-box { margin: 2px; background: #fff; position: relative; border: none; max-width: 99%; box-shadow: none; }
#iCMS-comment-list-box .cmt-item-img-avatar { width: 36px; height: 36px; border-radius: 2px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22); padding: 2px; }
#iCMS-comment-list-box .commentApp-content-wrap { margin: 0 0 0 48px }
/* =============== */
.iCMS_up_down { margin-left: 10px; }
.iCMS_up_down .up_down_btn { position: relative; display: block; text-decoration: none; text-align: left; color: #fff; background: #fff; font-size: 16px; line-height: 25px; font-family: "微软雅黑"; border: 1px solid #ddd; border-radius: 5px; padding: 5px; float: left; margin-right: 10px; }
.iCMS_up_down .up_down_icon { position: absolute; top: 8px; left: 15px; width: 19px; height: 18px; display: block; }
.iCMS_up_down .up_down_btn_num {margin-left: 35px; color: #369; }
.iCMS_up_down .up_down_btn_num_gray { color: #666; }
.iCMS_up_down .up_down_txt { color: #666; }
.iCMS_up_down .up_down_txt_hover { color: #369; }
.iCMS_up_down .up_down_btn_gray { background: #fbfbfb; }
.iCMS_up_down .up { background: url(img/up.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/up.png'); _background: none; }
.iCMS_up_down .down { background: url(img/down.png) no-repeat; top: 10px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/down.png'); _background: none; }
.iCMS_up_down .up_gray { background: url(img/up_gray.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/up_gray.png'); _background: none; }
.iCMS_up_down .down_gray { background: url(img/down_gray.png) no-repeat; top: 10px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/down_gray.png'); _background: none; }
