<div id="fansList">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="3"><a class="nickname" data-tip="iCMS:ucard:<!--{$user.uid}-->" href="<!--{$user.urls.home}-->"><!--{$user.nickname}--></a>
            被 <span><!--{$user.fans|num10K}--></span> 人关注 </th>
        </tr>
      </thead>
      <tbody>
        <!--{iCMS:user:follow loop="true" row="15" fuid="$user.uid" followed="$me.uid"}-->
          <!--{include file="./userfollow.htm" import="true"}-->
        <!--{iCMSelse}-->
        <tr>
          <td colspan="3"><i class="fa fa-ban"></i> 暂无粉丝</td>
        </tr>
        <!--{/iCMS}-->
      </tbody>
    </table>
</div>
<script>
  $(".btn_follow").click(function(event) {
    event.preventDefault();
    var $this = $(this);
    iCMS.user.follow(this,function(c,param){
        if (c.code) {
          param.follow = (param.follow=='1'?'0':'1');
          iCMS.param($this,param);
          if(param.follow=='1'){
            $this.removeClass('btn btn-success').html('<i class="fa fa-check"></i> 已关注，取消');
          }else{
            $this.addClass('btn btn-success').html('<i class="fa fa-plus"></i> 关注');
          }
        }else{
          iCMS.alert(c.msg);
        }
    });
  });
</script>
