<!--{if $comment_vars.display=="iframe"}-->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><!--{$comment_vars.title}-->评论_<!--{$site.title}-->_<!--{$site.seotitle}--></title>
		<!--{iCMS:public:ui script="false"}-->
		<script>
		var iCMS  = window.top.iCMS; //父框架接口 用于对话框
		$(function(){
			$('.iCMS-user-login').on("click", function() {
				event.preventDefault();
				iCMS.LoginBox();
				return false;
			});
		})
		</script>
	</head>
	<body class="iCMS-comment-page">
<!--{/if}-->
		<script src="<!--{$site.urls.ui}-->/iCMS.comment-6.0.0.js"></script>
		<div class="iCMS-comment-form-wrap">
			<div id="iCMS-cmt-profile">
				<!--{include file="iCMS://user/topnavbar.htm"}-->
			</div>
			<div id="iCMS-cmt-login">
				<a href="<!--{iCMS:router url='/api/user/login'}-->" class="iCMS-user-login" title="登录"><i class="fa fa-user"></i> 登录</a>
				<a href="<!--{iCMS:router url='/api/user/register'}-->" target="_blank"><i class="fa fa-heart"></i> 注册</a>
			</div>
			<div class="alert">
				<i class="fa fa-warning "></i> 请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论！
			</div>
			<div class="iCMS-cmt-editor">
				<textarea class="iCMS-editor-text commentApp-textarea" placeholder="写下你的评论…"></textarea>
			</div>
			<div class="iCMS-cmt-command clearfix">
				<button class="btn btn-primary cmt-add" type="submit"><i class="fa fa-check"></i> 评 论</button>
				<a href="javascript:;" class="cmt-cancel">取 消</a>
			</div>
		</div>
		<script>
		//console.log(window.top == window.self);
        var param =<!--{$comment_vars.param|json_encode}-->;
		$(function(){
			var doc = window.top.document||document;
            if (iCMS.user_status) {
            	//var topnavbar = $("#iCMS-nav-profile",doc).clone(true);
            	//$("#iCMS-cmt-profile").html(topnavbar);
            	//iCMS.user.data();
                //iCMS.hover("#iCMS-cmt-profile",".iCMS-user-home", "#iCMS-user-menu", 21);

                $("#iCMS-cmt-login").hide();
                $("#iCMS-cmt-profile").show();
            }

			// 取消
			$('.cmt-cancel').click(function(event) {
				var pp = $(this).parent().parent();
                pp.removeClass('expanded');
                $('.commentApp-textarea', pp).val("").focus();
			});
            //提交评论
            $('.cmt-add').click(function(event) {
                event.preventDefault();
                if (!iCMS.user_status) {
                    iCMS.LoginBox();
                    return false;
                }
                iCMS.comment.addnew(this,param,function(c){
                    if (c.code) {
                    	var list_iframe = $(".commentApp-list-iframe",doc);
                    	if(list_iframe.length){
	                    	list_iframe_src =list_iframe.attr('src');
	                    	if(list_iframe_src){
	                    		list_iframe.attr('src', list_iframe_src);
	                    	}
                    	}
                    	var list_box = $(".commentApp-list",doc);
                    	if(list_box.length){
                    		var pagenav = $(".commentApp-pagenav-api",doc);
                    		iCMS.comment.page(999999,pagenav);
                    	}
                    }
                })
            });
		})
		</script>
<!--{if $comment_vars.display=="iframe"}-->
	</body>
</html>
<!--{/if}-->
