<!--{if $vars.display=="iframe"}-->
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><!--{$vars.title}-->评论_<!--{$site.title}-->_<!--{$site.seotitle}--></title>
		<!--{iCMS:public:ui script="false"}-->
		<script>var iCMS = window.parent.iCMS;</script>
	</head>
	<body class="iCMS-comment-page">
<!--{/if}-->
<!--{if $vars.display=="default"}-->
<script src="<!--{$site.urls.ui}-->/iCMS.comment-6.0.0.js"></script>
<!--{/if}-->
		<div class="commentApp-list-box" id="iCMS-comment-list-box">
			<ul class="commentApp-box">
				<!--{iCMS:comment:list loop="true" page="true" row="5" vars=$vars}-->
				<li class="commentApp-item" data-id="<!--{$comment_list.id}-->">
					<a title="<!--{$comment_list.user.name}-->" data-tip="iCMS:ucard:<!--{$comment_list.user.uid}-->" class="app-item-link-avatar" href="<!--{$comment_list.user.url}-->">
						<img src="<!--{$comment_list.user.avatar}-->" class="app-item-img-avatar">
					</a>
					<div class="commentApp-content-wrap">
						<div class="commentApp-hd">
							<a data-tip="iCMS:ucard:<!--{$comment_list.user.uid}-->" href="<!--{$comment_list.user.url}-->" class="zg-link"><!--{$comment_list.user.name}--></a>
							<!--{if $comment_list.suid == $comment_list.uid}-->
							<span class="desc">（作者）</span>
							<!--{/if}-->
							<!--{if $comment_list.reply}-->
							<span class="desc">回复 </span>
							<a data-tip="iCMS:ucard:<!--{$comment_list.reply.uid}-->" href="<!--{$comment_list.reply.url}-->" class="zg-link"><!--{$comment_list.reply.name}--></a>
							<!--{/if}-->
						</div>
						<div class="commentApp-content"><!--{$comment_list.content}--></div>
						<div class="commentApp-ft">
							<span class="date"><!--{$comment_list.addtime|format_date}--></span>
							<a href="javascript:;" class="reply commentApp-op-link" name="reply_comment" data-param='{"id":"<!--{$comment_list.id}-->","uid":"<!--{$comment_list.user.uid}-->","name":"<!--{$comment_list.user.name}-->"}'>
							<i class="iCMS-icon iCMS-icon-comment-reply"></i>回复</a>
							<a href="javascript:;" class="like commentApp-op-link" name="like_comment" data-param='{"id":"<!--{$comment_list.id}-->"}'>
							<i class="iCMS-icon iCMS-icon-comment-like"></i>赞</a>
							<!--{if $comment_list.up>1}-->
							<span class="like-num" data-tip="iCMS:s:<!--{$comment_list.up}--> 人觉得这个很赞">
							<em><!--{$comment_list.up}--></em> <span>赞</span></span>
							<!--{/if}-->
							<a href="javascript:;" name="report_comment" data-param='{"id":"<!--{$comment_list.id}-->","uid":"<!--{$comment_list.user.uid}-->"}' class="report commentApp-op-link needsfocus">
							<i class="iCMS-icon iCMS-icon-no-help"></i>举报</a>
						</div>
					</div>
				</li>
				<!--{/iCMS}-->
			</ul>
			<div class="iCMS-pagination" data-query="<!--{$vars.query}-->"><!--{$iPAGE|method:'show(4)'}--></div>
		</div>
<!--{if $vars.display=="iframe"}-->
	</body>
</html>
<!--{/if}-->
