<div class="iCMS_up_down" data-param='<!--{$article.param|json_encode}-->'>
  <a data-param='{"do":"good"}' class="iCMS_article_do up_down_btn" href="javascript:;">
    <i class="up_down_icon up"></i>
    <span class="up_down_btn_num iCMS_good_num"><!--{$article.good}--></span>
    <span class="up_down_txt">赞</span>
  </a>
  <a data-param='{"do":"bad"}' class="iCMS_article_do up_down_btn" href="javascript:;">
    <i class="up_down_icon down"></i>
    <span class="up_down_btn_num iCMS_bad_num"><!--{$article.bad}--></span>
    <span class="up_down_txt">踩</span>
  </a>
</div>
