<div class="clearfix"></div>
<div id="footer">
    <div class="container">
      <p>法律声明：本站内容均为网友上传，网站举办方负责审核和监督，如存在版权或非法内容，欢迎举报，我们将尽快予以删除。</p>
      <ul class="links">
        <li> <a href="javascript:;" data-href="/about.html" target="_blank">关于<!--{$site.title}--></a> </li>
        <li class="muted">·</li>
        <li> <a href="javascript:;" data-href="/contact.html" target="_blank">联系我们</a> </li>
        <li class="muted">·</li>
        <li> <a href="javascript:;" data-href="/statement.html" target="_blank">法律声明</a> </li>
        <li class="muted">·</li>
        <li> <a href="javascript:;" data-href="/service.html" target="_blank">服务条款</a> </li>
        <li class="muted">·</li>
        <li> <a href="javascript:;" data-href="/joinus.html" target="_blank">加入我们</a> </li>
        <li class="muted">·</li>
        <li> <a href="javascript:;" data-href="/links.html" target="_blank">友情链接</a> </li>
        <li class="muted">·</li>
        <li> <a href="http://www.miibeian.gov.cn/" target="_blank"><!--{$site.icp}--></a> </li>
      </ul>
      <p>&copy;Copyright 2014 All Rights Reserved. Powered By <a href="http://www.idreamsoft.com/" target="_blank">iCMS</a> . </p>
    </div>
  </div>
<!--{iCMS:public:common}-->
<!--{iCMS:public:crontab}-->
