<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><!--{$site.title}-->_<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$site.keywords}-->" />
    <meta name="description" content="<!--{$site.description}-->"/>
    <meta name="mobile-agent" content="format=html5;url=<!--{$site.url}-->"/>
    <!--{iCMS:public:ui}-->
    <link rel="stylesheet" href="<!--{$site.urls.public}-->/theme/default.css" type="text/css" />
    <script>
    $(function () {
      $('.carousel').carousel({
        interval: 2000
      })
      $('.index_tab a:first').tab('show');
    })
    </script>
  </head>
  <body>
    <!--{include file="./header.htm"}-->
    <div id="body">
      <div class="main-col">
        <div class="index_model">
          <!--{iCMS:article:list pic="true" row="8" cid="$category.cid"}-->
          <!--{if $article_list}-->
          <div id="index_carousel" class="carousel slide" data-ride="carousel">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
              <li data-target="#index_carousel" data-slide-to="0" class="active"></li>
              <li data-target="#index_carousel" data-slide-to="1"></li>
              <li data-target="#index_carousel" data-slide-to="2"></li>
              <li data-target="#index_carousel" data-slide-to="3"></li>
              <li data-target="#index_carousel" data-slide-to="4"></li>
              <li data-target="#index_carousel" data-slide-to="5"></li>
              <li data-target="#index_carousel" data-slide-to="6"></li>
              <li data-target="#index_carousel" data-slide-to="7"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
              <!--{foreach key=key value=alist from="$article_list"}-->
              <div class="item<!--{if $key=="0"}--> active<!--{/if}-->">
              <a href="<!--{$alist.url}-->">
              <img src="<!--{$alist.pic.url}-->" alt="<!--{$alist.title}-->">
              <div class="carousel-caption">
                <h3><!--{$alist.title}--></h3>
              </div>
              </a>
            </div>
            <!--{/foreach}-->
          </div>
          <!-- 轮播（Carousel）导航 -->
          <a class="carousel-control left" href="#index_carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#index_carousel" data-slide="next">&rsaquo;</a>
        </div>
        <!--{/if}-->
      </div>
      <div class="clearfix mt30"></div>
      <div class="mod index_tab">
        <!--{iCMS:category:list stype='top' row="10"}-->
        <ul class="nav nav-tabs">
          <!--{foreach key=key value=cat_list from="$category_list"}-->
          <li><a href="#cat_content_<!--{$cat_list.cid}-->" data-toggle="tab"><!--{$cat_list.name}--></a></li>
          <!--{/foreach}-->
        </ul>
        <div class="tab-content">
          <!--{foreach key=key value=cat_list from="$category_list"}-->
          <div class="tab-pane" id="cat_content_<!--{$cat_list.cid}-->">
          <div class="index_content">
            <ul class="media-list">
              <!--{iCMS:article:list loop="true" user="true" tags="true" pic="true" sub="true" row="10" cid="$cat_list.cid"}-->
              <li class="media">
                <a class="pull-left" href="<!--{$article_list.url}-->">
                <img class="media-object lazy" data-src="<!--{$article_list.pic.url}-->" src="<!--{$site.urls.ui}-->/img/img-default.png">
                </a>
                <div class="media-body">
                  <h4 class="media-heading"><a href="<!--{$article_list.url}-->" target="_blank"><!--{$article_list.title}--></a></h4>
                  <p class="media-text"><!--{$article_list.description}--></p>
                  <div class="media-info">
                    <!--{if $article_list.tags_link}-->
                    <p class="pull-right tags"><!--{$article_list.tags_link}--></p>
                    <!--{/if}-->
                    <!--{$article_list.user.at}-->
                    <span class="pubdate"><!--{$article_list.pubdate|date:'Y-m-d'}--></span>
                    <span class="count">阅读（<!--{$article_list.hits.count}-->）</span>
                  </div>
                </div>
              </li>
              <!--{if !$article_list.last}-->
              <div class="clearfix"></div>
              <div class="media-bg"></div>
              <!--{/if}-->
              <!--{/iCMS}-->
            </ul>
          </div>
        </div>
        <!--{/foreach}-->
      </div>
    </div>
  </div>
  <div class="right-col">
    <div class="mod" id="hot_artical">
      <div class="hd">
        <h3>热门文章<span>HOT</span></h3>
      </div>
      <div class="bd"><!--{iCMS:article:list row="10" orderby="hot"}-->
      <ul class="artical-top">
        <!--{if $article_list[0].pic.url}-->
        <li class="first-item">
          <a class="pull-left" href="<!--{$article_list[0].url}-->" target="_blank"><img src="<!--{$article_list[0].pic.url}-->" style="height: 72px;width: 120px;"></a>
          <p class="title"><a href="<!--{$article_list[0].url}-->" target="_blank"><!--{$article_list[0].title}--></a></p>
          <p class="text"><!--{$article_list[0].description|html2txt}--></p>
        </li>
        <div class="clearfix"></div>
        <!--{/if}-->
        <!--{foreach key=akey value=alist from=$article_list}-->
        <!--{if $akey>0}-->
        <li><a href="<!--{$alist.url}-->" target="_blank"><!--{$alist.title}--></a></li>
        <!--{/if}-->
        <!--{/foreach}-->
      </ul>
    </div>
  </div>
  <div class="mod" id="author_list">
    <div class="hd">
      <h3>用户推荐<span>AUTHORS</span></h3>
    </div>
    <div class="bd">
      <!--{iCMS:user:list loop="true" row="10" pid="1" data="true"}-->
      <div class="author-m">
        <div class="author-pic">
          <a href="<!--{$user_list.url}-->" target="_blank">
          <img src="<!--{$user_list.avatar}-->" onerror="iCMS.user.noavatar(this);">
          </a>
        </div>
        <div class="author-name"><!--{$user_list.link}--></div>
        <div class="author-text"><!--{$user_list.data.slogan|default:'这家伙太懒了,什么都没有留下!'}--></div>
      </div>
      <div class="clearfix"></div>
      <!--{/iCMS}-->
    </div>
  </div>
  <div class="mod" id="tags">
    <div class="hd">
      <h3>热门标签<span>TAG</span></h3>
    </div>
    <div class="bd">
      <!--{iCMS:tag:list loop="true" row="10" orderby="hot"}-->
      <a href="<!--{$tag_list.url}-->" target="_blank"><!--{$tag_list.name}--></a>
      <!--{/iCMS}-->
    </div>
  </div>
</div>
<div class="clearfix mb10"></div>
<div id="links">
  <div class="mod">
    <div class="hd">
      <h3><i class="fa fa-link"></i> 友情链接<span>LINK</span></h3>
    </div>
    <div class="bd">
      <!--{iCMS:link loop='true'}-->
      <a target="_blank" href="<!--{$link.url}-->"><!--{$link.name}--></a>
      <!--{/iCMS}-->
    </div>
  </div>
</div>
</div>
<!--{include file="./footer.htm"}-->
</body>
</html>
