.index_login_show_wrap { margin-bottom: 14px; padding-bottom: 10px; height: 95px; }
.dot_bottom_mod { background: url(img/dotted_bg.png) repeat-x bottom; }
.login_content input.i_text { margin-bottom: 6px; padding: 1px 4px; width: 150px; height: 22px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; background: #fff; color: #ccc; }
.login_content .submit { position: absolute; top: 0; right: 0; overflow: hidden; width: 62px; height: 58px; border: 1px solid #d4d4d4; background: url(http://s6.mogujie.cn/pic/131115/kuw9n_kqyxmrlcmjbhmqkugfjeg5sckzsew_300x650.png) no-repeat 0 -440px; text-indent: -999em; cursor: pointer; }
.mx_placehold_pass { position: relative; z-index: 0; }
.mx_placehold_pass .mx_defv { position: absolute; top: 4px; left: 4px; color: #ccc; }
.reg_wrap input { float: left; margin-top: 4px; margin-top: 0\9; }
.reg_wrap label { display: inline; padding: 0 10px 0 3px; border-right: 1px solid #ddd; font-size: 12px; }
.reg_wrap .reg { padding: 0 10px 0 8px; border-right: 1px solid #ddd; color: #0A6BAC; font-weight: 700; }
.reg_wrap .get_password { padding-left: 8px; }
#header_wrap, #body_wrap, #footer_wrap { margin: 0 auto; width: 984px; }
#header, #body, #footer { margin: 0 auto; width: 984px; background-color: #fff; }
#header { width: 100%; }
#header .search { margin-top: 4px; }
#header .nav_login a, #header .tools a { margin-right: 6px; font-size: 14px; }
#header .nav_profile { font-size: 14px; }
#header .header-content { position: relative; margin: 0 auto; width: 984px; }
#header .logo { width: 320px; height: 75px; background: url(../ui/img/iCMS.logo-6.0.png) no-repeat 0 15px; }
#header .top { height: 60px; }
#header .navbar { margin-bottom: 10px; }
#header .nav a { font-size: 14px; }
#header .navbar-inner { background-color: #F8F8F8; }
#body { margin-top: 20px; margin-bottom: 35px; width: 982px; border: 1px solid #d5d5d5; background: #fefefe; }
#body .main-col { float: left; overflow: hidden; width: 678px; border-right: 1px solid #d5d5d5; background: #fff; }
#body .right-col { float: right; overflow: hidden; margin-left: -1px; padding: 15px 20px 0px 20px; width: 263px; border-left: 1px solid #d5d5d5; background: #fefefe; }
#body .content_player { position: relative; overflow: hidden; padding: 12px 20px 20px 12px; width: 638px; height: 220px; border: 0; border-bottom: 1px solid #ececec; background: #fff; }
#body .content_player .player { position: relative; }
#body .content_player_wrapper { width: 390px; }
#body .content_player .player-imgview { float: left; }
#body .content_player .player-imgview, #body .content_player .player-imgview img { width: 380px; height: 228px; }
#body .content_player .player-imgnav a { display: inline-block; float: none; margin-right: 8px; width: 8px; height: 8px; border-radius: 100%; background: #bbb; box-shadow: .5px .5px 1px 0 #333 inset; vertical-align: middle; }
#body .content_player .player-imgnav a:hover, #body .content_player .player-imgnav a.active { width: 8px; height: 8px; background: #18a9fd; }
#body .content_player .player-imgtit { float: left; padding: 0px 10px; width: 230px; }
#body .content_player .player-imgtit .data-title { padding-bottom: 10px; border-bottom: 1px dotted #999; }
#body .content_player .player-imgtit .data-abs { padding: 10px 0 5px; }
#body .content_player .player-imgtit .data-title a:link, #body .content_player .player-imgtit .data-title a:visited, #body .content_player .player-imgtit .data-title a:active { padding: 0; color: #000; font: normal 24px/28px "\5b8b\4f53"; }
#body .content_player .player-imgtit .data-info { color: #aaa; }
#body .content_player .player-imgtit .data-info a:link, #body .content_player .player-imgtit .data-info a:visited, #body .content_player .player-imgtit .data-info a:active { display: inline; margin: 0; padding: 0 10px 0 0; color: #369; font: 12px/18px normal; }
#body .content_player .player-imgtit p { padding: 0; color: #666; font-size: 12px; }
#body .content_player .player-imgnav { right: -8px; padding-top: 5px; width: 270px; height: 25px; text-align: center; }
#body .content_player .player-imgnav { bottom: 16px; }
#body .content_player .player-imgnav #content_player_prev, #body .content_player .player-imgnav #content_player_next { position: static; display: inline-block; width: 15px; height: 15px; border: 1px solid #ccc; border-radius: 2px; box-shadow: none; vertical-align: middle; }
#body .content_player .player-imgnav #content_player_prev:hover, #body .content_player .player-imgnav #content_player_next:hover { background-color: #ccc; }
#body .content_player #content_player_prev { background: url(img/imgplayer_left_btn.png) no-repeat center 4px; }
#body .content_player #content_player_next { background: url(img/imgplayer_right_btn.png) no-repeat center 4px; }
.mbox { margin-top: 15px; }
.lbox { overflow: hidden; margin: 0; padding: 18px; width: 307px; border-top: 1px solid #ececec; border-right: 1px solid #ececec; }
.lbox.fr { margin-left: -1px; border-left: 1px solid #ececec; }
.lbox .hd, .tbox .hd { padding-bottom: 7px; border: 0; }
.mod .hd .ext { float: left; padding-left: 25px; height: 20px; font-size: 14px; line-height: 19px; }
.mod .hd .ext a { padding-right: 5px; color: #369; }
#today_news { margin-bottom: 15px; padding: 20px 20px 0; }
#today_news .hd { overflow: hidden; padding-bottom: 0; width: 638px; }
#today_news .ulist { width: 690px; }
#today_news .ulist li { float: left; overflow: hidden; padding-right: 36px; width: 292px; height: 24px; text-align: right; line-height: 24px; line-line-; }
#today_news .ulist .art-title { float: left; overflow: hidden; width: 220px; text-align: left; font-size: 14px; }
#today_news .ulist .art-author { color: #aaa; font-size: 12px; }
.fl { float: left; }
.fr { float: right; width: 298px; border-right: 0 none; }
#tags .bd { padding-top: 6px; }
#tags .bd a:link, #tags .bd a:visited { display: inline; float: left; margin: 10px 10px 0 0; padding: 5px 10px; border-radius: 3px; background: #3886c2; box-shadow: 0 1px 1px 0 #ccc; color: #fff; white-space: nowrap; font-size: 14px; }
#tags .bd a:hover { background: #68a6d6; text-decoration: none; }
.author-m { margin-top: -1px; padding: 15px 0 16px; border-top: 1px dotted #ccc; background: 0; word-wrap: break-word; word-break: break-all; }
.author-m .author-name { margin-left: 85px; padding: 0; text-align: left; font-weight: bold; font-size: 14px; line-height: 24px; }
.author-m .author-text { margin-left: 85px; text-align: left; font-size: 12px; }
.author-m .author-artical { margin-left: 85px; padding-top: 10px; font-size: 12px; }
.author-m .author-pic { float: left; margin-right: 10px; margin-left: 3px; width: 70px; height: 70px; border: 0; }
.author-m .author-pic img { width: 70px; height: 70px; }
.w-ul li.fb { overflow: hidden; margin-bottom: 14px; padding: 0; height: 90px; background: 0; text-align: left; word-wrap: break-word; word-break: break-all; line-height: 20px; }
.w-ul li.fb img { float: left; margin-bottom: 5px; padding-right: 10px; width: 150px; height: 90px; }
.w-ul li.fb a:link, .w-ul li.fb a:visited { color: #333; font: normal 18px/20px "\5b8b\4f53"; }
.w-ul li.fb p { padding-top: 10px; color: #999; font-size: 12px; line-height: 20px; }
/* */
.artical-top li { padding: 5px 0 5px 8px; border-bottom: 1px dotted #ccc; background: url(img/dot.png) no-repeat left 15px; word-wrap: break-word; word-break: break-all; font-size: 12px; line-height: 24px; }
.artical-top li a:link, .artical-top li a:visited { color: #333; vertical-align: middle; line-height: 24px; }
.artical-top span { display: inline; float: left; overflow: hidden; margin-right: 10px; width: 120px; color: #999; font: italic 22px/24px "Times New Roman, simsun"; }
.artical-top .first-item { padding-left: 0; background: 0; }
.artical-top .first-item p { overflow: hidden; margin-top: -3px; margin-left: 130px; padding-left: 0; line-height: 16px; }
.artical-top .first-item .title { margin-bottom: 10px; height: 28px; }
.artical-top .first-item .text { height: 22px; }
.artical-top .first-item p a, .artical-top .first-item h4 a { color: #333; font-weight: bold; font-size: 14px; line-height: 18px; }
.artical-top .first-item div { color: #999; }
.artical-top-num li:after { display: block; clear: both; overflow: hidden; height: 0; content: '.'; line-height: 0; }
.artical-top-num li { padding-left: 0; background: 0; zoom: 1; }
.artical-top-num span, .artical-top-num .pic { display: inline; margin: 0; padding: 0; width: 28px; }
.artical-top li p { padding-bottom: 10px; padding-left: 30px; color: #999; font-size: 12px; line-height: 18px; }
.artical-top .top-1, .artical-top .top-1 span { font-size: 30px; line-height: 34px; }
.artical-top .top-1, .artical-top .top-2, .artical-top .top-3, .artical-top .top-1 span, .artical-top .top-2 span, .artical-top .top-3 span { color: #f30; }
.artical-top .top-1 a:link, .artical-top .top-1 a:visited { float: left; overflow: hidden; width: 235px; height: 34px; font-size: 14px; line-height: 34px; }
#links { border-top: 1px solid #ccc; padding-top: 10px; }
#links .bd { padding-left: 10px; }
#links .bd a:link, #links .bd a:visited { display: inline; float: left; margin: 10px 10px 0 0; padding: 5px 10px; border-radius: 3px; background: #3886c2; box-shadow: 0 1px 1px 0 #ccc; color: #fff; white-space: nowrap; font-size: 14px; }
#register { padding-top: 10px; }
/* Footer
-------------------------------------------------- */
#footer { margin-top: 20px; padding: 10px 0; width: 100%; border-top: 3px solid #ccc; text-align: center; }
#footer p { margin-bottom: 4px; color: #777; }
#footer .links { margin: 10px 0; }
#footer .links li { display: inline; padding: 0 2px; }
#footer .links li:first-child { padding-left: 0; }
/* article
-------------------------------------------------- */
.l-header-ad { margin: 20px auto; padding: 10px 0 5px; width: 982px; border: 1px solid #eaeaea; text-align: center; }
.l-main-inner-ad { float: right; padding: 0 0 20px 20px; }
#guide { margin: 10px 0px 0px 10px; color: #999; }
#page, .article-publish, .account-manage { padding: 0 20px; }
#page { padding-bottom: 25px; }
#page h1 { font: bold 34px/40px 微软雅黑; color: #333; padding-left: 0px; border-left: 0px; margin: 30px 0; }
.article-publish h1, .account-manage h1, .article-manage h1 { margin: 20px 10px; color: #333; font: normal 28px/46px "微软雅黑"; }
#page blockquote { margin: 20px 0; padding: 15px 20px; border: 1px dashed #eaeaea; background: #fbfbfb; color: #999; text-indent: 24px; font-size: 12px; line-height: 22px; }
#page h3 { margin: 30px 0; font-size: 14px; }
#page .text { margin: 25px 0; text-indent: 28px; font-size: 14px; line-height: 24px; }
#page .image { margin: 25px 0; text-align: center; }
#page .artical-tip-top { padding: 0 5px; color: #666; white-space: nowrap; }
#page .artical-tip-btm { margin: 40px 0; text-align: left; }
#page .artical-tip-btm a:link, #page .artical-tip-btm a:visited { color: #3a82b8; font-size: 14px; }
#page .tip { margin-bottom: 10px; color: #808080; text-align: center; font-family: 宋体b8b\4f53; }
.article-info { overflow: hidden; height: 26px; font-size: 12px; line-height: 26px; }
.article-info .article-author-time { float: left; color: #ccc; }
.article-info a:link, .article-info a:visited { color: #369; white-space: nowrap; }
.article-info .article-author-time a { padding-right: 12px; }
.article-info .article-tags a { padding: 0 5px; }
.article-info .article-tags { overflow: hidden; width: 260px; text-align: center; }
.article-info .share-area { float: right; width: 200px; }
.article-body p { margin: 6px 0; text-indent: 28px; font-size: 14px; line-height: 24px; }
.article-pagenav { position: relative; margin: 0 auto; padding: 10px; background: #f3f3f3; text-align: center; font-size: 14px; }
.article-pagenav a { display: inline-block; margin: 4px; padding: 1px 12px; border: 1px solid #d5d5d5; background-color: #fff; color: #666; line-height: 24px; }
.article-pagenav a.current { border: 2px solid #08c; color: #333; font-weight: bold; }
.article-pagenav a.prev, .article-pagenav a.next { font-weight: bold; }
.article-pagenav a:hover { background-color: #fff; color: #666; }
.comments_list { }
.comments_list h3 { padding: 5px 12px; font-size: 14px; margin-left: 10px; }
.comment_form { border-top: 1px solid #eaeaea; }
/* --- */
.up_down { margin-left: 10px; }
.up_down_btn { position: relative; display: block; text-decoration: none; text-align: left; color: #fff; background: #fff; font-size: 16px; line-height: 25px; font-family: "微软雅黑"; border: 1px solid #ddd; border-radius: 5px; padding: 5px; float: left; margin-right: 10px; }
.up_down_icon { position: absolute; top: 8px; left: 15px; width: 19px; height: 18px; display: block; }
.up_down_btn_num { font: 14px/24px "宋体"; margin-left: 35px; color: #369; }
.up_down_btn_num_gray { color: #666; }
.up_down_txt { font: 14px/24px "宋体"; color: #666; }
.up_down_txt_hover { color: #369; }
.up_down_btn_gray { background: #fbfbfb; }
.up { background: url(img/up.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/up.png'); _background: none; }
.down { background: url(img/down.png) no-repeat; top: 10px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/down.png'); _background: none; }
.up_gray { background: url(img/up_gray.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/up_gray.png'); _background: none; }
.down_gray { background: url(img/down_gray.png) no-repeat; top: 10px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='img/down_gray.png'); _background: none; }
.prev-next { float: right; margin-right: 20px; }