<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><!--{$category.name}-->_<!--{$site.title}-->_<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$category.keywords}-->" />
    <meta name="description" content="<!--{$category.description}-->"/>
    <!--{iCMS:public:ui}-->
  </head>
  <body class="iCMS-mobile">
    <!--{include file="./navbar.htm"}-->
    <div class="container">
      <div class="clearfix mb10"></div>
      <div id="iCMS-article-list" class="article_list">
        <ul class="list">
          <!--{iCMS:article:list loop="true" page="true" user="true" row="10" cid="$category.cid"}-->
          <li class="full">
            <a href="<!--{$article_list.url}-->">
              <!--{if $article_list.pic.url}-->
              <div class="thumb">
                <img data-original="<!--{$article_list.pic.url}-->" src="<!--{$site.urls.ui}-->/img/img-default.png">
              </div>
              <!--{/if}-->
              <h3><!--{$article_list.title}--></h3>
              <p>
                <!--{$article_list.description|cut:30:'...'}-->
                <span class="count">
                  <span class="label label-default"><i class="fa fa-comments"></i> <!--{$article_list.comment.count}--> </span>
                </span>
              </p>
            </a>
          </li>
          <!--{/iCMS}-->
        </ul>
      </div>
      <div id="pages_next" class="hide">
        <!--{$iCMS.page.next}-->
      </div>
    </div>
    <script>
    iCMS.scrollLoad("#iCMS-article-list .list","li","#pages_next",<!--{$iCMS.page.total}-->);
    </script>
    <!--{include file="./footer.htm"}-->
  </body>
</html>
