<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><!--{$site.title}-->_<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$site.keywords}-->" />
    <meta name="description" content="<!--{$site.description}-->"/>
    <!--{iCMS:public:ui}-->
    <script src="<!--{$site.urls.ui}-->/swipe-1.0.js"></script>
    <script>
    $(function(){
        var slider = new Swipe(document.getElementById('slider'),{
          callback:function(e,pos){
            var i = slideNav.length;
            while (i--){
              slideNav[i].className = "";
            }
            slideNav[pos].className = "on";
          }
        });
        var slideNav = document.getElementById('position').getElementsByTagName('li');
    })
    </script>
  </head>
  <body class="iCMS-mobile">
    <!--{include file="./navbar.htm"}-->
    <div class="container">
    <!--{iCMS:article:list pic="true" row="5"}-->
      <!--{if $article_list}-->
      <div class="rotator">
        <div id="slider" class="slide_show">
          <ul>
            <!--{foreach value=alist from=$article_list}-->
            <li><a href="<!--{$alist.url}-->"><img src="<!--{$alist.pic.url}-->" alt="<!--{$alist.title}-->"></a></li>
            <!--{/foreach}-->
          </ul>
        </div>
        <ul id="position" class="slide_nav">
          <!--{foreach key=key value=alist from=$article_list}-->
          <li <!--{if $key=="0"}-->class="on"<!--{/if}-->><span class="show_n"><i>0<!--{"$key+1"}--></i><small>5</small></span> <a href="<!--{$alist.url}-->"><!--{$alist.title}--></a> </li>
          <!--{/foreach}-->
        </ul>
      </div>
      <!--{/if}-->
      <div class="clearfix mb10"></div>
      <div id="iCMS-article-list" class="article_list">
        <!--{iCMS:article:list loop="true" page="true" user="true" row="3"}-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="<!--{$article_list.category.url}-->" target="_blank" class="category">
            <span class="label label-primary"><!--{$article_list.category.name}--></span>
            </a>
            <a href="<!--{$article_list.url}-->" target="_blank">
            <h3 class="panel-title"><!--{$article_list.title}--></h3>
            </a>
          </div>
          <!--{if $article_list.pic.url}-->
          <div class="panel-thumb">
            <a href="<!--{$article_list.url}-->" target="_blank">
            <img class="lazy" data-src="<!--{$article_list.pic.url}-->" src="<!--{$site.urls.ui}-->/img/img-default.png" width="100%">
            </a>
          </div>
          <!--{/if}-->
          <div class="panel-body">
            <!--{$article_list.description}-->......
          </div>
          <div class="panel-footer">
            <u><!--{$article_list.user.at}--></u>
            <time title="<!--{$article_list.pubdate|date:"Y-m-d h:i"}-->"><!--{$article_list.pubdate|format_date}--></time>
            <i><a href="<!--{$article_list.comment.url}-->">评论(<!--{$article_list.comment.count}-->)</a></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <!--{/iCMS}-->
      </div>
      <div id="pages_next" class="hide">
        <!--{$iCMS.PAGE.NEXT}-->
      </div>
    </div>
    <script>
    iCMS.scrollLoad("#iCMS-article-list",".panel","#pages_next",<!--{$iCMS.PAGE.TOTAL}-->);
    </script>
    <!--{include file="./footer.htm"}-->
  </body>
</html>
